/* CSS RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
/* body dessign */
body {
    padding: 6px 8px;
}
/*header with id header and div section*/
header#header-section {
    height: 100vh;
    /*background-color: linear*/
    background: url('assets/APEX\ L.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
/*header design*/
header#header-section nav#navbar-container ul li.nav-items {
    list-style-type: none;
    display: inline;
    font-size: 20px;
    margin: 5px;
}
/*header design*/
header#header-section nav#navbar-container ul li.nav-items a.nav-link{
    color: white;
    text-decoration: none;
    background-color: teal;
    padding: 2px 4px;
    border-radius: 7px;
}