/*image details*/
/*section#image-and-content{
    background: url('apex.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}*/
/*content details*/
/*p{
    display: block;
}*/
#all-together {
   display: inline-flex;
}
/*form
{
    border: none;
    border-bottom: 1px;
}*/
section#design-form{
    
}
img{
    width: 60%      ;
    height: auto;
}
p#create-account {
    background-color: black;
    color: white;
    display: inline;
}

